REDIS_ADDR=redishost:6379
REDIS_PASSWORD=password
MYSQL_DSN=root:root@tcp(mysql-host:3306)/demodb
GRPC_PORT=:50051

ENCRYPTION_ALGORITHM="aes-256-ctr"
ENCRYPTION_PASSWORD="" # 32 byte hex
ENCRYPTION_IV="" # 16 byte hex
